#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url(bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.input {
  height: 70px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
input::placeholder {
  font-size: larger;
  text-align: center;
}
input:focus {
  transition: 0.3s;
  border: 2px solid black;
  outline: none;
}

.btn {
  margin: 40px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
button:hover {
  background-color: rgb(67, 67, 67);
  transition: 0.5s;
  color: white;
}

.heading {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
li {
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
  font-size: larger;
}
h1 {
  color: aliceblue;
}
